<div class="container">
<h1>Editing Departement</h1>

<%= render 'form' %>
<br />

<%= link_to 'Show', @departement, :class => "btn btn-info btn-md" %> |
<%= link_to 'Back', departements_path, :class => "btn btn-md" %>
</div>