/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.custom-style{
/*	margin: 1%;
*	padding: 1%;
*/
	height: 391px;
}

.custom-style img{
	height: 170px;
}

table tr td{
	padding: 2px;
}

.form-color{
	background-color: #428BCA;
	padding: 1%;
}
span{
	color: #fff;
}
.login{
	margin: atuo;
}